<div>
  <!-- Toolbar -->
  <mat-toolbar color="primary" *ngIf="a.isLoggedIn()">
    <!-- <span>
      <mat-icon>code</mat-icon>
    </span> -->
    <span class="gap">Json Structures</span>
    <span class="filler"></span>
    <span>
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </span>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item>Profile</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item (click)="logout()">Sign Out</button>
  </mat-menu>

  <!-- routes -->
  <router-outlet></router-outlet>

</div>
