<mat-card>

  <mat-toolbar>
    <span>
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>navigate_before</mat-icon>
      </button>
    </span>

      <span>Stream: {{streamId}}</span>
      <span class="filler"></span>
      <span>
        <button mat-fab (click)="addJsonObject()" mat-tooltip="Aggiungi una struttura" tooltip-position="below">
          <mat-icon>add</mat-icon>
        </button>
      </span>
    </mat-toolbar>

  <div class="editor-view">
        <json-editor
        [options]="editorOptions"
        [data]="data"
        (change)="getData($event)">
      </json-editor>
  </div>

</mat-card>
